@import "themes/theme-default";
@import "themes/theme-lemonchill";
@import "themes/theme-aflatunense";
@import "themes/theme-bluestar";

$themes: (
        theme-default: theme-default(),
        theme-lemonchill: theme-lemonchill(),
        theme-aflatunense: theme-aflatunense(),
        theme-bluestar: theme-bluestar(),
);

@each $theme, $map in $themes {
  .#{$theme} {
    $primary-color: map-get($map, "primary-color");
    $accent: map-get($map, "accent");
    $primary-text: map-get($map, "primary-text");
    $secondary-text: map-get($map, "secondary-text");
    $divider-color: map-get($map, "divider-color");
    $accent_300: map-get($map, "accent_300");
    .navbar.navbar-default {
      background-color: $primary-color;
    }
    .navbar-default .navbar-nav > .active > a {
      background-color: $accent;
    }
    .glyphicon-chevron-down:before {
      color: $primary-color;
    }

    #pool-category-region .poolHeaderBottom {
      background-color: $accent;
    }
    #pool-category-region {
      .cardsetInfo {
        a {
          color: $primary-color;
        }
      }
    }
    #footer {
      a {
        color: $primary-color;
      }
    }
    .row {
      a {
        color: $primary-color;
      }
    }
    .glyphicon-plus {
      color: $primary-color;
    }
    .btn.btn-raised.btn-primary {
      background-color: $accent;
    }
    .btn.btn-raised:not(.btn-link):hover.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary, .btn-group-raised .btn:not(.btn-link):hover.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary, .btn.btn-raised:not(.btn-link):focus.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary, .btn-group-raised .btn:not(.btn-link):focus.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary, .btn.btn-raised:not(.btn-link).active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary, .btn-group-raised .btn:not(.btn-link).active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-primary, .btn.btn-raised:not(.btn-link):active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary, .btn-group-raised .btn:not(.btn-link):active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary {
      background-color: $accent_300;
    }
    button#setListEmpty.btn.btn-raised.btn-primary.btn-newSet
    .panel.panel-primary > .panel-heading {
      background-color: $primary-color;
    }
    .panel.panel-primary > .panel-heading {
      background-color: $primary-color;
    }
    .form-group.is-focused .form-control {
      background-image: none !important;
    }
    .form-group.is-focused label.control-label {
      color: $primary-color;
    }
    .dropdown-menu li a:hover {
      color: $primary-color;
    }
    .nav-tabs {
      background-color: $primary-color;
    }
    .navbar-default .navbar-toggle:hover {
      background-color: transparent !important;
    }
  }

}

