@import "themes/theme-default";
@import "themes/theme-contrast";

$themes: (
        theme-default: map-merge(changing-colors-definitions(), theme-default()),
        theme-contrast: map-merge(changing-colors-definitions(), theme-contrast())
);

@each $theme, $map in $themes {
  .#{$theme} {
    $primary-color: map-get($map, "primary-color");
    $accent: map-get($map, "accent");
    $primary-text: map-get($map, "primary-text");
    $secondary-text: map-get($map, "secondary-text");
    $divider-color: map-get($map, "divider-color");
    $accent_300: map-get($map, "accent_300");
    $hyperlink: map-get($map, "hyperlink");

    .navbar.navbar-default {
      background-color: $primary-color;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .open > a {
      background-color: $accent;
    }

    .glyphicon-chevron-down:before {
      color: $primary-color;
    }

    .poolHeaderBottom {
      background-color: $divider-color;
    }

    .cardsetHeaderBottom {
      background-color: $accent;
    }

    #newCardSet {
      background-color: $primary-color;
      color: $accent;
    }

    #pool-category-region {
      .cardsetInfo {
        a {
          color: $primary-color;
        }
      }
    }

    #footer {
      a {
        color: $primary-color;
      }
    }

    .row {
      a {
        color: $primary-color;
      }
    }

    .panel-body, .md-footer, .cardContent, #showHintModal {
      a {
        color: $hyperlink;
      }
    }

    .btn.btn-raised.btn-primary {
      background-color: $primary-color;
    }

    .btn.btn-raised:not(.btn-link):hover.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary, .btn-group-raised .btn:not(.btn-link):hover.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary, .btn.btn-raised:not(.btn-link):focus.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary, .btn-group-raised .btn:not(.btn-link):focus.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary, .btn.btn-raised:not(.btn-link).active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary, .btn-group-raised .btn:not(.btn-link).active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-primary, .btn.btn-raised:not(.btn-link):active.btn-primary, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary, .btn-group-raised .btn:not(.btn-link):active.btn-primary, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary {
      background-color: $accent_300;
    }

    button#setListEmpty.btn.btn-raised.btn-primary.btn-newSet
    .panel.panel-primary > .panel-heading {
      background-color: $primary-color;
    }

    .panel.panel-primary > .panel-heading {
      background-color: $primary-color;
    }

    .form-group.is-focused .form-control {
      background-image: linear-gradient($primary-color, $primary-color), linear-gradient($divider-color, $divider-color);
    }

    textarea {
      background-image: none !important;
    }

    .form-group.is-focused label.control-label {
      color: $primary-color;
    }

    .dropdown-menu li a:hover {
      color: $primary-color;
    }

    .nav-tabs {
      background-color: $primary-color;
    }

    .navbar-default .navbar-toggle:hover {
      background-color: transparent !important;
    }

    .info {
      color: $primary-color;
    }

    .navbar.navbar-default .dropdown-menu li > a:hover {
      color: $primary-color;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      background-color: $primary-color;
    }

    li.dropdown.open a.dropdown-toggle {
      background-color: $accent;
    }

    li.dropdown.open ul.dropdown-menu a:hover {
      color: $primary-text;
    }

    #collapseLearningPhaseInfoButton, #collapseManageButton {
      border-bottom: 3px solid $primary-color;
    }

    .cardListSubject th {
      color: white;
      background-color: $primary-color;
    }

    .cardContent hr {
      background-color: $primary-color;
    }

    #frontTextFooter hr, #backTextFooter hr {
      background-color: $primary-color;
    }

    .md-editor > .md-header {
      background: $primary-color;
    }

    .md-editor {
      border: 1px solid $primary-color;
    }

    .btn-primary:hover {
      color: $primary-text;
    }

    .editorNavigation > .btn-primary:hover {
      background-color: $primary-color !important;
      color: white;
    }

    .bs-callout-info {
      border-left-color: $primary-color;
    }

    .learnLeitner, .learnWozniak, .learnSelect  {
      cursor: pointer;
      color: $primary-color;
    }

    #swapOrder {
      color: $divider-color;
    }

    .swappedOrder {
      color: $primary-color !important;
    }
  }
}
