.dashboard-box {
  a:hover {
    text-decoration: none;
  }
  .small-box {
    border-radius: 3px;
    border: 1px solid #ddd;
    position: relative;
    display: block;
    margin-bottom: 20px;
    background-color: white;
    .inner {
      padding: 10px;
      h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
      }
      p {
        font-size: 15px;
      }
    }
    .small-box-footer {
      position: relative;
      text-align: center;
      padding: 3px 0;
      display: block;
      z-index: 10px;
      background-color: #f5f5f5;
      text-decoration: none;
    }
  }
}
