#pool-category-region {
  margin-bottom: 35px;
  text-align: left;

  h3 {
    margin-top: 0;
  }

  .well {
    margin-bottom: 0;
  }

  .sortText {
    line-height: 34px;
  }

  #ratingLocked {
    margin-top: 2px;
  }

  .glyphicon {
    font-size: 11px;
  }

  .btn-group {
    padding-bottom: 15px;
  }

  .btn {
    font-weight: bold;
  }

  .btn-info.active {
    color: $white;
    background-color: $color_free_btn;
    border-color: $color_free_btn;
  }

  .btn-success.active {
    color: $white;
    background-color: $color_edu_btn;
    border-color: $color_edu_btn;
  }

  .btn-danger.active {
    color: $white;
    background-color: $color_pro_btn;
    border-color: $color_pro_btn;
  }

  .btn-info, .btn-success, .btn-danger {
    background-color: $color_item_separator;
    border-color: $color_btn_inactive;
    color: $white;
  }

  .licenseInfo, .topicName {
    padding-left: 0px;
    padding-right: 0px;
  }

  .scrollArrow {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    text-align: center;
  }

  .stars-rating {
    margin-top: -5px;
    height: 12px;
  }

  @media (max-width: 1200px) {
    .navbar-header {
      float: none;
    }
    .navbar-left, .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
    }
    .navbar-nav > li {
      float: none;
    }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in {
      display: block !important;
    }

    .resetBtn {
      margin-top: 8px;
    }

    .tip-content {
      bottom: 102%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .panelUnitPrice {
      border: none;
    }
  }

  @media (min-width: 768px) {
    #pool-nav-wrapper, #pool-nav {
      .dropdown {
        padding: 0px;
      }
    }

    #filterCheckbox {
      padding-bottom: 0px;
      padding-right: 10px;
      margin-left: 15px;
      margin-top: -5px !important;
    }

    #pool-nav-wrapper, #pool-nav {
      padding: 0px;
    }

  }
}

.resetFilters {
  padding: 8px;
  margin-left: 10px;
}

#upgrade, #downgrade {
  width: 100% !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .licenseInfo {
    .label {
      margin-top: -3px;
      margin-left: 10px;
      font-size: 70%;
    }
  }
  .stars-rating {
    margin-top: -5px;
    width: 65px !important;
    height: 100% !important;
  }
}

@media (max-width: 767px) {
  #filterCheckbox {
    margin: 0;
    margin-left: 30px;
  }
}

.selectionInfo {
  padding: 0 10px 0 10px;
}
