.categories {
  h3 {
    margin-top: 0;
  }
  .well {
    margin-bottom: 0;
  }
  .sortText {
    line-height: 34px;
    padding-right: 10px;
  }
  .left {
    float: left;
  }
  #ratingLocked {
    margin-top: 2px;
    margin-left: 6px;
    left: 6px;
  }
}

.set-list {
  .glyphicon {
    font-size: 11px;
  }

  .btn {
    font-weight: bold;
  }
}

#pool_license img {
  width: 20px;
}

.kind-label {
  text-align: center;
}

#poolCaption {
  padding-left: 8px;
  font-weight: bold;
  background-color: $color_wild_sand_approx;
}
