#access-denied-admin {
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 200px;
  margin-bottom: 30px;
  padding: 20px 20px 20px 30px;
  h2 {
    padding-bottom: 8px;
  }
}
