.cardNavigation {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.cardNavigation .btn {
  margin: 0 !important;
  box-shadow: none !important;
}

.cardNavigation .btn-primary {
  cursor: default;
}
