body {
  background-image: linear-gradient(#339, #09f 85%, #339);
  height: 100vh;
  margin: 0;
}

.instructions {
  bottom: 3vh;
  color: #09f;
  font-family: sans-serif;
  font-size: 5vmin;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}

.counter {
  color: #f90;
  font-family: sans-serif;
  font-size: 5vmin;
  position: fixed;
  right: 3vmin;
  top: 3vmin;
}

.fish {
  background-color: #f90;
  background-image: linear-gradient(90deg, #f90, #f60, #f90);
  border-radius: 50% 50% 0 0;
  color: #c00;
  font-size: 3vmin;
  height: 3vmin;
  left: calc(50% - 1.5vmin);
  position: fixed;
  text-align: center;
  top: -5%;
  transition: left, top ease-in-out;
  user-select: none;
  width: 3vmin;
}
.fish:before {
  background-color: #000;
  border: solid 1px #fff;
  border-radius: 50%;
  bottom: 60%;
  content: "";
  left: 30%;
  position: absolute;
  right: 30%;
  top: 5%;
}
.fish:after {
  border: solid 1.5vmin transparent;
  border-bottom-color: #f60;
  bottom: -40%;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 40%;
  width: 0;
}
.fish:hover {
  background-color: #fff;
  background-image: none;
  cursor: pointer;
}
.fish:hover:after {
  border-bottom-color: #fff;
}