.BSParticle {
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  pointer-events: none;
  top: 50%;
  width: 1px;
  z-index: 10000;

  &::after {
    background-size: 100% 100%;
    content: '';
    display: block;
    position: absolute;
  }
}

body.landing-page {
  overflow: hidden;
}

//Use the theme switcher to adjust the color
.BSParticles-Default {
  .BSParticle {
    &::after {
      width: 100px;
      height: 100px;
      transform: translate(-50px, -50px);
    }
  }
}

.BSParticles-Images {
  .BSParticle {
    &::after {
      width: 160px;
      height: 100px;
      transform: translate(-80px, -50px);
      background: url('/img/particles/blue.jpg') no-repeat center center;
      background-size: contain;
    }
  }
  .BSParticle--2::after {
    background-image: url('/img/particles/green.jpg');
  }
  .BSParticle--3::after {
    background-image: url('/img/particles/red.jpg');
  }
  .BSParticle--4::after {
    background-image: url('/img/particles/white.jpg');
  }
  .BSParticle--5::after {
    background-image: url('/img/particles/yellow.jpg');
  }
}

