//can't be modified inside theme-switcher
$background: rgb(153, 153, 153);
//bert alert (Doesn't work in theme-switcher)
.bert-alert.warning {
  background: #F5AA01 !important;
  color: #FFF !important;
}
.bert-alert.success {
  background: #80BA24 !important;
  color: #FFF !important;
}
.bert-alert.info {
  background: #003BD1 !important;
  color: #FFF !important;
}
.bert-alert.danger {
  background: #9C132D !important;
  color: #FFF !important;
}

//global
$default_font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

//navbar
$size_navbar_alldecks_border: 3px;

//welcome page
$size_footer_height: 40px;
$font_size_login_label: 16px;
$font_weight_login_label: bold;
$font_size_inventory: 14px;
$font_weight_inventory: normal;
$padding_horizontal_inventory: 15px;
$padding_vertical_inventory: 5px;
$margin_top_inventory: 10px;
$padding_top_login: 10px;

//info page
$font_size_info_h1: 20px;
$font_size_info_h2: 18px;
$font_size_info_h3: 16px;

//item lists
$margin-top_infinite_scroll_text: 5px;
$font_size_infinite_scroll_text: 12px;
$font_weight_infinite_scroll_text: bold;
$margin_bottom_item: 10px;

//card
$font_size_navigation_arrows: 10pt;
$padding_card_content_horizontal: 40pt;
$padding_card_content_vertical: 13pt;
$padding_card_conntent_horizontal_fullscreen_desktop: 100px;
$font_size_card_header_small_text: 12px;
$font_size_card_header_smaller_text: 10px;
$font_size_card_header_subject: 16px;
$font_size_card_content: 14pt;
$font_weight_card_header_number: normal;
$font_weight_card_header_first_row: bold;
$font_weight_card_header_second_row: normal;
$font_weight_card_header_subject: normal;
$hint_link_decoration: underline;
$hint_link_alternative_decoration: underline;
$text_transform_card_header_subject: uppercase;
$font_style_card_header_subject_placeholder: italic;

//card header
$card_header_height: 95px;
$card_header_padding: 7px;
$card_header_row_height: $card_header_height - $card_header_padding;
$card_header_item_margin_horizontal: 7px;

//cardset
$font_size_cardset_content: 12pt;
$padding_cardset_content_horizontal: 25pt;
$padding_cardset_content_vertical: 5pt;

//markdeep
$padding_inline_code: 5px;

//markdeep editor
$font_family_markdeep_help: $default_font;
$font_family_markdeep_editor_content: 'Roboto Mono', monospace;
$font_size_markdeep_help: 12pt;
$font_weight_markdeep_help: bold;

//search
$font_size_search_results_subject: 16px;
$font_size_search_results_content: 14px;
$font_size_search_results_author: 10px;
$font_weight_search_results_subject: normal;
$font_weight_search_results_content: normal;
$font_weight_search_results_author: normal;
$size_search_results_separator: 0px;
$padding_search_items: 5px 15px;

//cardset form
$size_cardset_form_list_border: 2px;
$size_cardset_form_list_padding: 10px;
$font_size_cardset_form_list: 14px;
$font_weight_cardset_form_list: normal;

//cookie consent
$text_decoration_cookie_consent_link: none;

html {
  position: relative;
  min-height: 100%;
  background-size: cover;
  font-family: $default_font !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-attachment: fixed !important;
  background-color: $background !important;
}

body {
  background: unset;
  margin: 0 0 70px;
  > .container {
    padding: 80px 15px 0;
  }
}

.btn {
  text-transform: unset !important;
}

.table {
  img {
    max-width: 370px;
  }
}

.search-divide {
  margin: 5px 0 5px 0;
  height: 2px;
}

.search-author {
  margin-top: 15px;
}

#input-search {
  width: 120px;
  line-height: 30pt !important;
  padding-right: 30px !important;
}

.navbar-default {
  .navbar-brand {
    padding: 10px 19px;
    > img {
      height: 22px;
      margin-top: 5px;
    }
  }
  .navbar-nav {
    .notifications {
      min-width: 420px;
      .notification-footer,
      .notification-heading {
        padding: 2px 10px;
        color: black;
        .menu-title {
          font-size: 1.5rem;
          display: inline-block;
        }
      }
      .divider {
        margin: 5px 0;
      }
      .notifications-wrapper {
        overflow: auto;
        max-height: 250px;
        .notification-item {
          padding: 10px;
          margin: 5px;
          border-radius: 4px;
          .item-title {
            font-size: 1.3rem;
          }
        }
      }
      a.content {
        text-decoration: none;
      }
    }
    .glyphicon {
      margin-right: 5px;
    }
  }
  @media(min-width: 768px) {
    #navbar-all-decks {
      border-left: $size_navbar_alldecks_border solid !important;
    }
  }
}

@media(min-width: 768px) {
  .thm-header {
    .navbar-collapse, .navbar-collapse.collapse {
      overflow: visible;
    }
    .navbar-toggle {
      display: none;
    }
  }
  .panel-body button {
    margin: 10px 0 !important;
    width: auto;
  }
}

@media(max-width: 991px) {
  .navbar-default {
    .navbar-brand {
      padding: 10px 5px;
    }
  }
}

#theme-wrapper {
  margin-top: 70px;
}

#theme-wrapper-no-nav {
  margin-top: 20px !important;
}

#theme-wrapper-no-nav-welcome {
  margin-top: 0;
}

.modal-header .close {
  margin-top: -10px;
}

.modal-header h4 {
  padding-top: 0;
}

.modal-header, .modal-body, .modal-footer {
  margin: 0 !important;
  padding: 15px !important;
}

.modal-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

button {
  padding: 8px !important;
}

.modal-body .form-group {
  margin-top: 5px !important;
}

.text-dark {
  color: #333;
}

.modal-content-for-buttons {
  position: absolute;
  padding-bottom: 10px;
}

.cardsetName:hover {
  visibility: visible;
}

// Pool and my cardsets list
.panel {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.panelUnit {
  padding: 10px 5px;
}

.panelUnit, .cardListRow {
  @media (max-width: 767px) {
    border-bottom: 0 !important;
  }
}

.manageCourseIteration {
  padding: 0;
}

.panelAvailability {
  padding-left: 0px;
  padding-right: 0px;
}

#pool_license img {
  width: 20px;
}

#poolCaption {
  padding-left: 8px;
  font-weight: bold;
}

.filterCardsHeader {
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .filterCardsHeader {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .filterCardsHeader {
    font-size: 10px;
  }
}

.poolLabel {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.empty-list {
  text-align: center;
}

.poolText, .topicName, .panelName {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.topicName {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767px) {
  .panel {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .panelUnit {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .panelUnitDescription {
    padding-right: 0;
  }

  .info_license_mobile {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .field-tip {
    width: 270px;
    bottom: 102%;
    font-size: 11px;
  }

  #welcome-tip {
    width: 280px;
    font-size: 11px;
  }

  #searchDropdown {
    margin: 0 0 0 5px !important;
    padding: 0;
    border: none;
    box-shadow: none;
    height: 36px;
  }
  #input-search {
    margin: 0;
    border: none;
  }
  #clearSearch {
    right: 20px !important;
  }
}

@media (min-width: 768px) {
  .panelUnit {
    border-right: solid 1px;
  }

  .licenseInfo, .licenseInfoCreate {
   border-bottom: solid 1px !important;
  }

  .footer {
    .icon-container {
      border-right: solid 1px;
    }
  }
}

.badge {
  padding: 3px 5px;
}

.cardContent .lightbox-img a {
  display: block;
  margin: auto;
}

.lightbox-container {
  text-align: center;
}

#alert-warning {
  z-index: 150;
}

.fa-home {
  font-size: 16px;
}

.md-editor > .md-header {
  padding: 0;
}

.md-header .fa, .md-header .center-button, .md-header .fullscreen-button, .card-button {
  border: 1px solid;
}

.md-header .fa, .md-header .center-button, .md-header .fullscreen-button, .card-button {
  margin: 0 auto;
  font-size: 22px;
  padding: 3px 6px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.markdeep-help-text {
  font-family: $font_family_markdeep_help !important;
  font-size: $font_size_markdeep_help !important;
  font-weight: $font_weight_markdeep_help !important;
}

.md-editor > textarea {
  border: none;
}

.fa-link:before {
  content: "\f0ac" !important;
}

.md-header button {
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 5px !important;
}

#main-nav {
  background: unset !important;
}

.navbar-fixed-top {
  min-height: 36px !important;
}

#thm-top-navigation a {
  padding: 8px 7px !important;
}

#searchDropdown {
  margin-top: 5px;
  margin-bottom: 0;
  width: 140px !important;
}

.dropup {
  margin-bottom: 0;
}

.dropdown, .dropup, .navbar-nav > li {
  .dropdown-menu {
    max-height: 725px;
    margin-left: 7px;
    @media(max-height: 768px) {
      max-height: 575px;
    }
    @media(max-width: 767px) {
      max-height: 225px;
    }
    overflow-y: scroll;
  }
  button {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  a {
    white-space: normal !important;
  }
}

#searchResults {
  overflow-y: scroll;
}

.backdoorLogin {
  margin: 0;
  #TestingBackdoorUsername {
    margin: 0;
  }
  label {
    float: left;
    margin: 0;
  }
}

#back-button {
  margin-left: 0;
  margin-bottom: 20px;
}

th {
  text-transform: uppercase;
}


.info-tab h1 {
  font-size: $font_size_info_h1;
  margin: 0;
  padding-top: 0;
}

.info-tab h2 {
  font-size: $font_size_info_h2;
  margin-top: 10px;
  margin-bottom: 5px;
}

.info-tab h3 {
  font-size: $font_size_info_h3;
  margin-top: 10px;
  margin-bottom: 3px;
}

.thm-numbering {
  margin-top: 0.7em;
  margin-left: -0.7em;
  counter-reset: item;
  list-style: none;
}

.thm-numbering ol {
  margin-left: -1.5em;
  counter-reset: subitem;
  list-style: none;
}

.thm-numbering li {
  counter-increment: item;
  margin-bottom: 0.7em;
}

.thm-numbering ol li {
  counter-increment: subitem;
  margin-bottom: 0.7em;
}

.thm-numbering li:before {
  margin-left: -2em;
  margin-right: 0.5em;
  content: counter(item);
  border-radius: 100%;
  width: 1.5em;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.thm-numbering ol li:before {
  content: counter(subitem);
}

.thm-numbering-standalone {
  margin-right: 0.3em;
  border-radius: 100%;
  width: 1.5em;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.hintContent, .hintContentAlternative {
  padding: 10px;
  .table {
    background-color: unset;
  }

}

.hintContent {
  a {
    text-decoration: $hint_link_decoration !important;
  }
}

.hintContentAlternative {
  a {
    text-decoration: $hint_link_alternative_decoration !important;
  }
}

.hintContent .close {
  opacity: 1;
  font-size: 30pt;
}

.hintContent .modal-header, .wordCloudDescription {
  border-bottom: 1px solid !important;
}

.hintContentAlternative .modal-header {
  border-bottom: 1px solid !important;
}

.wordCloudDescription {
  padding-top: 15px;
}

.hintContent .modal-body {
  font-size: 16px;
}

#login .loginLabel {
  font-size: $font-size_login_label !important;
  font-weight: $font-weight_login_label !important;

}

#login .loginLabel:first-child {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $size_footer_height !important;
  .container {
    height: 40px;
    margin-bottom: 0;
    text-align: center;
  }
  #info {
    height: 40px;
  }
  .footer-icon {
    font-size: 18px;
    padding: 10px 0 0 0;
    margin: 0;
    text-align: center;
  }

  li {
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li ul li {
    height: 60px;
  }

  a {
    text-decoration: none;
    outline: none;
  }
  .dropdown-menu {
    margin: 0;
    padding: 0;
    min-width: 120px;
  }
  .footer-info-navigation a {
    border-right: 1px solid;
  }
  .footer-info-navigation:first-child a {
    border-left: 1px solid;
  }
  .icon-container-info {
    border-left: 1px solid;
    border-right: 1px solid;
  }
  .lang {
    padding: 25px 15px;
  }
  .lang:hover {
    padding: 25px 15px;
  }
}

#searchResults {
  position: absolute;
  float: left;
  @media(max-width: 768px) {
    width: 300px;
  }
  @media(min-width: 769px) {
    width: 600px;
  }
  @media(min-width: 1200px) {
    width: 800px;
  }
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1000;
  margin: 0 !important;
}

#searchResults a {
  border-bottom: solid $size_search_results_separator !important;
  padding: 0 !important;
  margin: 0 !important;
}

#searchResults a:last-child {
  border-bottom: 0 !important;
}

.search-subject {
  font-size: $font-size_search_results_subject !important;
  font-weight: $font-weight_search_results_subject;
  padding: $padding_search_items !important;
  margin: 0;
  line-height: normal !important;
}

.search-content {
  font-size: $font-size_search_results_content !important;
  font-weight: $font-weight_search_results_content !important;
  padding: $padding_search_items !important;
  margin: 0;
}

.search-author {
  font-size: $font-size_search_results_author !important;
  font-weight: $font-weight_search_results_author !important;
  padding: $padding_search_items !important;
  margin: 0;
}

.navbar-fixed-top .navbar-text {
  margin-top: 14px !important;
  margin-bottom: 0;
}

.btn-toolbar .btn-group {
  margin-right: 5px;
}

.cc-link {
  text-decoration: $text_decoration_cookie_consent_link !important;
}

.panelIconColumn {
  @media (min-width: 768px) {
    text-align: center;
  }
}

#underDevelopmentModal {
  z-index: 2000;
}

.underDevelopmentContent {
  padding: 10px;
  .modal-header {
    border-bottom: 1px solid !important;
  }
}

#clearSearch {
  position: absolute;
  float: right;
  right: 5px;
  width: 22px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000 !important;
}

.searchItem {
  padding: 0 !important;
}

.thm-header .navbar-toggle {
  margin-right: 0;
}

::placeholder {
  padding-top: 5% !important;
  padding-left: 5pt !important;
  opacity: 1;
  font-size: 13pt !important;
  font-style: italic;
}

#profile-drop {
  overflow: hidden;
  text-align: left;
  min-width: auto;
  @media(min-width: 768px) {
    position: absolute;
  }
  padding-top: 0;
  padding-bottom: 0;
  a {
    text-decoration: none;
    display:block;
    height:100%;
    width:100%;
  }
  td {
    padding-left: 0;
    padding-right: 0;
  }
  td .fa, .glyphicon {
    margin-left: 5px;
  }
}
