//colors
$color_athens_gray_approx: rgb(236, 240, 241);
$white: rgb(255, 255, 255);
$color_bilbao_approx: rgb(50, 129, 20);
$color_mercury_approx: rgb(223, 229, 230);
$color_la_palma_approx: rgb(61, 156, 25);
$color_wild_sand_approx: rgb(245, 245, 245);
$color_slate_gray_approx: rgb(74, 92, 102);
$color_thm_dark_blue: #002878;
$color_thm_orange: #F5AA01;
$color_thm_red: #9C132D;
$color_thm_gray: #4A5C66;
$color_thm_green: #78B925;
$color_free_btn: $color_thm_dark_blue;
$color_edu_btn: $color_thm_green;
$color_pro_btn: $color_thm_orange;
$color_orange_pool: $color_thm_orange;
$color_btn_inactive: #9e9c9c;
$color_item_separator: $color_thm_gray;
$color_footer_hover: rgb(215, 215, 215);

html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto';
  background-color: $color_mercury_approx;
}

body {
  margin: 0 0 100px;
  background-color: $color_mercury_approx;
  > .container {
    padding: 80px 15px 0;
  }
}

.btn {
  text-transform: unset !important;
}

.btn-raised.btn-success {
  color: $white !important;
  background-color: $color_thm_green !important;
}

.btn-raised.btn-info {
  color: $white !important;
  background-color: $color_thm_dark_blue !important;
}

.btn-raised.btn-warning {
  color: $white !important;
  background-color: $color_thm_orange !important;
}

.btn-raised.btn-danger {
  color: $white !important;
  background-color: $color_thm_red !important;
}

.table {
  background-color: $white;
  img {
    max-width: 370px;
  }
}

.search-divide {
  margin: 5px 0 5px 0;
  height: 2px;
  color: $color_thm_gray;
  background-color: $color_thm_gray;
}

.search-author {
  margin-top: 15px;
}

#input-search {
  padding: 2px 2px;
}

.navbar-default {
  background-color: $color_la_palma_approx;
  border-color: $color_bilbao_approx;
  .navbar-brand {
    color: $color_athens_gray_approx;
    padding: 10px 19px;
    > img {
      height: 22px;
      margin-top: 5px;
    }
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }
  .navbar-text {
    color: $color_athens_gray_approx;
  }
  .navbar-nav {
    .notifications {
      min-width: 420px;
      .notification-footer,
      .notification-heading {
        padding: 2px 10px;
        .menu-title {
          font-size: 1.5rem;
          display: inline-block;
        }
      }
      .divider {
        margin: 5px 0;
      }
      .notifications-wrapper {
        overflow: auto;
        max-height: 250px;
        .notification-item {
          padding: 10px;
          margin: 5px;
          background: $color_athens_gray_approx;
          border-radius: 4px;
          .item-title {
            font-size: 1.3rem;
            color: #000;
          }
        }
      }
      a.content {
        text-decoration: none;
        background: #ccc;
      }
    }
    .glyphicon {
      margin-right: 5px;
    }
    > {
      .active > a {
        color: $white;
        background-color: $color_bilbao_approx;
        &:hover {
          color: $white;
          background-color: $color_bilbao_approx;
        }
        &:focus {
          color: $white;
          background-color: $color_bilbao_approx;
        }
      }
      .open > a {
        color: $white;
        background-color: $color_bilbao_approx;
        &:hover {
          color: $white;
          background-color: $color_bilbao_approx;
        }
        &:focus {
          color: $white;
          background-color: $color_bilbao_approx;
        }
      }
    }
    > li > a {
      color: $color_athens_gray_approx;
      &:hover {
        color: $white;
      }
      &:focus {
        color: $white;
      }
    }
  }
  .navbar-toggle {
    border-color: $color_bilbao_approx;
    &:hover {
      background-color: $color_bilbao_approx;
    }
    &:focus {
      background-color: $color_bilbao_approx;
    }
    .icon-bar {
      background-color: $color_athens_gray_approx;
    }
  }
  .navbar-collapse {
    border-color: $color_athens_gray_approx;
  }
  .navbar-form {
    border-color: $color_athens_gray_approx;
  }
  .navbar-link {
    color: $color_athens_gray_approx;
    &:hover {
      color: $white;
    }
  }
}

@media(max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $color_athens_gray_approx;
      &:hover {
        color: $white;
      }
      &:focus {
        color: $white;
      }
    }
    > .active > a {
      color: $white;
      background-color: $color_bilbao_approx;
      &:hover {
        color: $white;
        background-color: $color_bilbao_approx;
      }
      &:focus {
        color: $white;
        background-color: $color_bilbao_approx;
      }
    }
  }

  .modal-footer button {
    margin: 10px 0 !important;
    width: 100% !important;
  }

  #contact .nav-tabs a {
    text-align: left;
  }
}

@media(min-width: 768px) {
  .thm-header {
    .navbar-collapse, .navbar-collapse.collapse {
      overflow: visible;
    }
    .navbar-toggle {
      display: none;
    }
  }
  .panel-body button {
    margin: 10px 0 !important;
    width: auto;
  }
}

@media(max-width: 991px) {
  .navbar-default {
    .navbar-brand {
      padding: 10px 5px;
    }
  }
}

#theme-wrapper {
  margin-top: 100px;
}

#theme-wrapper-no-nav {
  margin-top: 20px !important;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: $color_wild_sand_approx;
  .container {
    height: 40px;
    margin-bottom: 0;
    background-color: $color_wild_sand_approx;
    text-align: center;
  }
  #info {
    height: 40px;
  }
  .footer-icon {
    font-size: 18px;
    padding: 10px 0 0 0;
    margin: 0;
  }

  li {
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li ul li  {
    height: 60px;
  }
  li:hover {
    background-color: $color_footer_hover;
  }
  a {
    text-decoration: none;
    outline: none;
  }
  .dropdown-menu {
    margin: 0;
    padding: 0;
  }
  .lang {
    padding: 25px 15px;
  }
}

#searchResults {
  min-width: 240px;
  padding-top: 0;
  padding-bottom: 0;
}

.modal-header, .modal-body, .modal-footer {
  margin: 0 !important;
  padding: 15px !important;
}

.modal-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

button {
  padding: 8px !important;
}

button:disabled {
  color: $color_slate_gray_approx !important;
  background-color: $color_mercury_approx !important;
}

.form-group {
  margin-top: 5px !important;
}

.text-dark {
  color: #333;
}

.modal-content-for-buttons {
  position: absolute;
  padding-bottom: 10px;
}

.field-tip .tip-content, #welcome-tip {
  max-lines: 1;
  visibility: hidden;
  width: 320px;
  text-overflow: ellipsis;
  background-color: $color_thm_gray;
  opacity: 0.9;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1040;
  bottom: 115%;
}

.field-tip .tip-content::after, #welcome-tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -95px;
  border-width: 5px;
  border-style: solid;
  border-color: $color_thm_gray transparent transparent transparent;
}

.field-tip:hover .tip-content {
  visibility: visible;
}

.label-info {
  color: $white !important;
  background-color: $color_free_btn !important;
}

.label-warning {
  color: $white !important;
  background-color: $color_thm_red !important;
}

.label-danger {
  color: $white !important;
  background-color: $color_pro_btn !important;
}

.label-success {
  color: $white !important;
  background-color: $color_edu_btn !important;
}

// Pool and my cardsets list
.panel {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.panelUnit {
  padding: 10px 15px 10px 15px;
}

.panelUnitKind {
  margin-left: 15px;
}

.panelUnitPrice {
  display: inline-block;
  height: 40px;
  margin-left: 5px;
  margin-right: -5px;
}

.panelAvailability {
  padding-left: 0px;
  padding-right: 0px;
}

#pool_license img {
  width: 20px;
}

#poolCaption {
  padding-left: 8px;
  font-weight: bold;
  background-color: $color_wild_sand_approx;
}

.panelUnitNoBorder {
  border: none !important;
}

.poolHeaderTop {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: $white;
}

.poolHeaderBottom {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
  color: $white;
}


@media (max-width: 1199px) {
  .poolHeaderBottom {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .poolHeaderBottom {
    font-size: 10px;
  }
}

.poolLabel {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.empty-list {
  text-align: center;
}

.poolText, .topicName, .panelName {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.topicName {
  padding-left: 0;
}

@media (max-width: 767px) {
  .panel {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .panelUnit {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: dashed 1px $color_item_separator;
  }

  .panelUnitDescription {
    padding-right: 0;
  }

  .panelUnitPrice {
    height: 41px;
  }

  .info_license_mobile {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .field-tip .tip-content {
    width: 270px;
    bottom: 102%;
    font-size: 11px;
  }

  .tip-content {
  }

  #welcome-tip {
    width: 280px;
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #input-search {
    width: 120px;
  }

}

@media (min-width: 768px) {
  .altPanel {
    background-color: $color_wild_sand_approx;
  }

  .panelUnit {
    border-right: dashed 1px $color_item_separator;
  }
}

.badge {
  padding: 3px 5px;
}

#contact .nav-tabs {
  -webkit-box-shadow: -3px 1px 6px 0 rgba(0, 0, 0, 0.12), -3px 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: -3px 1px 6px 0 rgba(0, 0, 0, 0.12), -3px 1px 6px 0 rgba(0, 0, 0, 0.12);
}

#contact .nav-tabs a {
  border-radius: 0;
  margin-bottom: 0;
  outline: none;
}

#contact .nav-tabs .inactive a {
  color: black !important;
  background-color: #eeeeee !important;
  outline: none;
}
.cardContent .lightbox-img a {
  display:block;
  margin:auto;
}

.cardContent .lightbox-img img {
  width: unset !important;
  display: unset !important;
}

.card-image {
  text-align: center;
}

#alert-warning {
  z-index: 150;
}

.md-header .fa, .md-header .center-button, .md-header .fullscreen-button {
  margin: 0 auto;
  font-size: 24px;
  padding: 3px 6px;
  color: $color_thm_gray;
  border-radius: 5px;
  border: 1px solid $color_thm_gray;
  background-color: $white;
}

.md-header .fa:hover, .md-header .center-button:hover, .md-header .fullscreen-button:hover {
  background-color: $color_athens_gray_approx;
}

.md-header .pressed {
  background-color: $color_thm_gray !important;
  color: $color_athens_gray_approx !important;
}

.md-editor > textarea {
  border: none;
}

.fa-link:before {
  content: "\f0ac" !important;
}

.md-header button {
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 5px !important;
}

.disconnected {
  color: $color_thm_red;
}

.connected {
  color: $color_thm_green;
}

.connecting {
  color: $color_thm_orange;
}

#thm-top-navigation a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
