//colors
$white: rgb(255, 255, 255);

.badgeFooterProgress {
  margin-top: 8px;
  background-color: $white;
}

.badgeFooterImg {
  text-align: center;
}

.badgeWell {
  text-align: center;
  margin-bottom: 0;
}

.nav-pills {
	.fa {
		width: 24px;
		text-align: center;
	}
}
