.cardContent .md * {
  font-size: 100% !important;
}

.cardContent .placeholder {
  line-height: $line_height_card_content !important;
}

.md {
  line-height: $line_height_card_content !important;
  @media(max-width: 767px) {
    padding: $padding_card_content_vertical_mobile $padding_card_content_horizontal_mobile !important;
    line-height: $line_height_card_content_mobile !important;
  }
  table {
    width: unset;
    background-color: unset;
  }

  code {
    font-size: 100%;
    padding: $padding_inline_code !important;
    white-space: pre-wrap;
    word-break: keep-all;
  }

  table code, .listing code {
    padding: 0 !important;
  }

  code > .output {
    font-weight: bold;
    background: #FF7;
    margin-left: -20px;
    padding-left: 20px;
  }

  pre {
    border: unset;
    background: unset;
  }

  blockquote {
    border-left: 0;
    font-family: cursive;
    font-weight: normal;
    @media(max-width: 767px) {
      font-weight: bold;
    }
  }

  blockquote.fancyquote::before, blockquote .fancyquote::after {
    font-size: 200% !important;
  }

  blockquote.fancyquote .author{
    font-family: sans-serif;
    color: #F5AA01;
    font-weight: normal;
  }

  p {
    box-sizing: unset;
    display: block;
    margin: 1em auto;
  }

  pre.listing.backtick {
    border: 0;
    background-color: unset;
    padding-left: unset;
    padding-right: unset;
  }

  pre.listing.tilde {
    padding: 5px 20px;
    overflow-x: hidden;
  }

  hr {
    border-color: unset !important;
    height: 2px;
  }

  .lightbox-container {
    text-align: unset;
  }

  .inverse svg.diagram {
    background: #333;
    stroke: #FFF;
    fill: #FFF
  }

  .admonition {
    border-left-width: 43px !important;
  }

  .admonition.tip::before, .admonition.warning::before, .admonition.error::before {
    top: 2px;
    left: -4.2rem;
  }

  .calendar a, .calendar .parenthesized {
    padding-left: 5px;
  }

  dd {
    margin-left: 40px;
  }

  iframe {
    width: 100% !important;
  }

  a {
    font-family: unset;
  }
}
