#showErrorReportingModal {
  label {
    text-align: left;
  }

  #cardSidesGroupLabel, #discoveredErrorLabel, #otherErrorLabel, #changeErrorLabel {
    padding-bottom: 1em !important;
  }

  #cardSidesGroup > span {
    padding-bottom: 1em !important;
  }

  #cardSidesGroup {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #otherError {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }

  #otherErrorTextarea {
    padding: 1em !important;
  }
}

@media(max-width: 767px) {
  #cardSidesGroup {
    li.btn-bootstrap-container {
      label {
        height: 50px !important;
        span {
          font-weight: 600;
        }
      }
      padding-left: 15px !important;
      padding-right: 15px !important;
      width: 90%;
      align-self: center !important;
      padding-bottom: 20px !important;
    }
    flex-direction: column;
    align-items: center !important;
    display: flex !important;
  }
} 
