.aspectRatioContainer {
  position: absolute;
  float: right;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  z-index: 10000 !important;
  text-align: left;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      cursor: pointer;
      padding: 10px;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    li:last-child{
      border-bottom-width: 0;
    }
  }
}

.dropdown-menu.aspect-ratio-menu {
  z-index: 10000 !important;
}
