#markdeepNavigation {
  .btn-group {
    margin-left: 15px;
  }

  .card-button {
    text-align: center;
    vertical-align: top;
    margin-right: 5px;
  }

  .markdeep-mobile-preview {
    font-size: 26px !important;
    padding: 0 10px !important;
  }
}
