body {
  > .container-fluid {
    padding: 51px 15px 0;
  }
}
#wrapper {
    padding-top: 51px;
}
#admin-sidebar-wrapper {
  background: #000;
  float: left;
  width: 100%;
}
#admin-sidebar-wrapper .sidebar-nav {
  padding: 0;
  list-style: none;
  float: left;
  margin: 0;
}
#admin-sidebar-wrapper .sidebar-nav li {
  line-height: 45px;
  float: left;
}
#admin-sidebar-wrapper .sidebar-nav li a {
  display: block;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  color: #999999;
}
#admin-sidebar-wrapper .sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
#admin-sidebar-wrapper .sidebar-nav li a:active,
#admin-sidebar-wrapper .sidebar-nav li a:focus {
  text-decoration: none;
}

#admin-content-wrapper {
    width: 100%;
    padding: 20px;
    float: left;
}
@media(min-width:768px) {
    #admin-sidebar-wrapper {
        width: 250px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
    }
    #admin-content-wrapper {
        margin-left: 250px;
    }
    #admin-sidebar-wrapper .sidebar-nav {
      float: none;
    }
    #admin-sidebar-wrapper .sidebar-nav li {
      float: none;
      text-indent: 20px;
      line-height: 40px;
    }
    #admin-sidebar-wrapper .sidebar-nav li a {
        padding: 0;
    }
}
.content-header {
  position: relative;
  padding-bottom: 20px;
}
