#wordcloudTitle {
  padding: 0;
}

#wordcloud-container {
  text-align: center;
}

#wordcloud-canvas {
  border-radius: 50px;
}

#welcome-container #wordcloud-container {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
