<template name="profileFullscreenContentDE">
    Beschreibung für die einzelnen Modi:
    * {{_ "fullscreen.settings.table.mode1"}}: Aktiviere den Vollbildmodus durch drücken einer Schaltfläche.
    * {{_ "fullscreen.settings.table.mode2"}}: Erzwingen immer den Vollbildmodus.
    * {{_ "fullscreen.settings.table.mode3"}}: Du kannst zwischen {{_ "fullscreen.settings.table.mode1"}} oder {{_ "fullscreen.settings.table.mode2"}} wählen. Die Auswahl wird gespeichert bis die Sitzung geschlossen wurde oder sich die Vollbildmodus Einstellung ändert.
</template>
