<template name="profileFullscreenContentDE">
    Deine Optionen:
    * {{_ "fullscreen.settings.table.mode1"}}: Erzwingt immer den Vollbildmodus.
    * {{_ "fullscreen.settings.table.mode2"}}: Aktiviert den Vollbildmodus durch Drücken der Vollbild-Schaltfläche.
    * {{_ "fullscreen.settings.table.mode3"}}: Du kannst zwischen {{_ "fullscreen.settings.table.mode1"}} oder {{_ "fullscreen.settings.table.mode2"}} wählen. Die Auswahl wird gespeichert, bis die Sitzung geschlossen oder der Vollbildmus geändert wurde.
</template>
