//colors
$color_alto_approx: rgb(221, 221, 221);
$white: rgb(255, 255, 255);
$black_20: rgba(0, 0, 0, 0.2);
$black_10: rgba(0, 0, 0, 0.1);
$color_storm_dust_approx: rgb(102, 102, 102);
$black: rgb(0, 0, 0);
$color_mountain_mist_approx: rgb(153, 153, 153);
$white_50: rgba(255, 255, 255, 0.5);

//fonts
$font_0: Georgia;
$font_1: serif;
$font_2: Helvetica Neue;
$font_3: Helvetica;
$font_4: Arial;
$font_5: sans-serif;

//@extend-elements
//original selectors
//.carousel-control.left, .carousel-control.right
%extend_1 {
  background-image: none;
  margin-top: 90px;
  margin-bottom: 0;
}

.block {
  height: 100%;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  pre {
    text-align: left;
  }
}

.meteorBox {
  line-height: 32px;
  margin: 12px 0;
  display: inline-table;
  width: 100%;
}

#editSetDescription {
  resize: none;
}

.nav-header-cardset {
  display: block;
  padding-left: 0;
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: $color_mountain_mist_approx;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 1px 0 $white_50;
  text-transform: uppercase;
}

.ratingStars {
  margin-left: -33px;
  padding-left: 50%;
}

.ratingText {
  display: inline-block;
  font-size: 11px;
  text-align: center;
  width: 100%;
}

.button-group-content {
  margin-bottom: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: $white;
    cursor: inherit;
    display: block;
  }
}

#pictureModal .modal-header {
  min-height: 50px;
}

#setdetails-pictureModal-body img {
  max-width: 100%;
  width: auto;
  margin: auto;
  display: block;
}

#ratingLocked .stars {
  cursor: auto;
}

#importModal hr {
  margin: 20px 0;
}

#set-details-region {
  margin-bottom: 20px;
}

#selectLicenseModal {
  #cc-modules img {
    width: 30px;
  }
  #cc-description {
    padding-top: 10px;
    img {
      width: 58px;
    }
    p {
      padding-bottom: 10px;
    }
  }
}

#info_license img {
  width: 20px;
}

#reportModal {
  p {
    padding-top: 7px;
    margin: 0;
  }
  .input-group {
    padding-left: 15px;
  }
}

#module {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.longButton {
  text-align: left;
  width: calc(100% - 25px);
  margin-bottom: 7px;
}

.dropdown-menu {
  margin-left: 12px;
}

.btn-learn {
  font-size: 1.75em;
}

@media (max-width: 420px) {
  .btn-learn {
    font-size: 1.0em;
  }
}

.bs-callout {
  padding: 10px;
  margin-top: -20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  font-size: 1.1em;

  .h4 {
    font-size: 1.3em;
  }
}

.leitner-header {
  font-size: 1.5em;
}

.leitner-text {
  font-size: 1.1em;
}

.bs-callout-info {
  background-color: $white;
}

.dropup .btn-group {
  box-shadow: none;
}

#publishKind, #publishKindAdmin {
  .btn-info {
    color: $color_free_btn !important;
  }

  .btn-default.active {
    color: $black !important;
  }

  .btn-info.active {
    color: $white !important;
    background-color: $color_free_btn;
    border-color: $color_free_btn;
  }

  .btn-success {
    color: $color_edu_btn !important;
  }

  .btn-success.active {
    color: $white !important;
    background-color: $color_edu_btn;
    border-color: $color_edu_btn;
  }

  .btn-danger {
    color: $color_pro_btn !important;
  }

  .btn-danger.active {
    color: $white !important;
    background-color: $color_pro_btn;
    border-color: $color_pro_btn;
  }
}

@media (min-width: 768px) {

  .cardSetCancel {
    margin-left: 25px !important;
  }
}

.form-control.interval {
  display: inline;
  width: 55px !important;
}

@media (max-width: 767px) {
  .form-control.interval {
    width: 50px !important;
  }
  .deleteCardsButton {
    float: unset !important;
  }
}

.panel-footer {
  padding: 10px;
  .btn-group {
    margin-right: 10px;
    padding: 0;
  }
  .btn {
    padding: 8px 15px;
  }
}

#cardsetInfoDetail {
  margin-bottom: 20px;
}

.panel-body {
  padding: 0;

  h4 {
    line-height: 24px;
  }

  .well {
    padding: 10px !important;
  }

  .infoBox {
    padding: 10px;
  }
}

#cardsetPreview button {
  width: 100%;
}

#showLicenseModal {
  #cc-modules img {
    width: 30px;
  }
  #cc-description {
    padding-top: 10px;
    img {
      width: 58px;
    }

  }
}

.table {
  td {
    vertical-align: top !important;
  }
}

.collapseButton {
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.collapseButton:link, .collapseButton:visited, .collapseButton:hover, .collapseButton:active {
  text-decoration: none;
}

.collapseCardsetItem {
  float: none;
}

.infoBoxTable td {
  padding-left: 15px !important;
  a {
    display: block;
    width: 100%;
  }
  a:hover {
    text-decoration: none;
  }
}

.glyphicon-collapse-down, .glyphicon-collapse-up {
  font-size: 18px;
}

#collapseCardsetInfoButton {
  float: none;
  z-index: 50;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -4px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
}

#collapseCardsetInfo {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -4px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
}

#collapseLearningPhaseInfoButton {
  float: none;
  z-index: 50;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -4px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
}

#collapseLearningPhaseInfo {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -4px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
}

.collapseCardsetInfoContainer {
  display: block;
  min-height: 58px;
}

#collapseManageButton {
  float: none;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -4px 17px 0 rgba(0, 0, 0, 0.2), 0 -4px 20px 0 rgba(0, 0, 0, 0.19);

}

#collapseManageButton.collapsed {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 -4px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar {
  margin-bottom: 15px;
}

th .field-tip .tip-content {
  bottom: auto;
}

.cardListSubject table {
  margin-bottom: 0;
  table-layout: fixed;
}

.cardListSubject thead tr th {
  padding-left: 15px;
}

.listCard {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardListSubject tbody tr:hover {
  cursor: pointer;
}

.cardListName {
  color: $white;
  padding: 5px 0 5px 10px;
  font-size: 24px;
  font-weight: bold;
}

.detailed-stats {
  margin: 0;
  padding: 0 !important;
}

#declineRequestReason {
  background-image: none;
  background-color: $white;
}

.stars-rating {
  display: inline-block !important;
}

.cardsetInfo {
  h3 {
    margin-top: 0;
  }
  .well {
    margin-bottom: 0;
  }
  .left {
    float: left;
  }
  #ratingLocked {
    margin-top: 2px;
    margin-right: 0;
  }
}

#showHintLearning, #showHintManage, #showIntervalHelp, #showPreviewHelp, .fa-trophy {
  font-size: 18px;
  z-index: 500;
}

.red-learning-text {
  color: $color_thm_red;
}

.green-learning-text {
  color: $color_thm_green;
}

.fa-trophy {
  font-size: 18px;
}

.fa-square {
  transform: scale(1.35, 1) !important;
}
