#cardCarousel .carousel-indicators {
  bottom: 0px;
}
.carousel-inner {
  border-radius: 4px;
  min-height: 278px;
}
.box {
  border: 1px solid #DDDDDD;
  font-family: 'Georgia', serif;
  height: 278px;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url('/img/card_background.png');
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.block {
  text-align: center;
  height: 100%;
}
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 580px;
  font-size: 1.2em;
}
.meteorBox {
  line-height: 32px;
  font-family: 'Georgia', serif;
  margin: 12px 0 12px;
  display: inline-table;
  width: 100%
}
