$color_difficulty0: #EEEEEE;
$color_difficulty1: #5cb85c;
$color_difficulty2: #5bc0de;
$color_difficulty3: #d9534f;

.cardtext {
  margin-bottom: 20px;
}

#frontTextFooter, #backTextFooter {
  padding: 10px;
  background-color: #f5f5f5;
}

#frontTextFooter img, #backTextFooter img {
  display: block;
  height: auto;
  max-width: 100%;
}

#difficulty .btn-info {
  color: $color_difficulty1 !important;

}

#difficulty .btn-default.active {
  color: $black !important;
  background-color: $color_difficulty0;
  border-color: $color_difficulty0;
}

#difficulty .btn-info.active {
  color: $white !important;
  background-color: $color_difficulty1;
  border-color: $color_difficulty1;
}

#difficulty .btn-success {
  color: $color_difficulty2 !important;
}

#difficulty .btn-success.active {
  color: $white !important;
  background-color: $color_difficulty2;
  border-color: $color_difficulty2;
}

#difficulty .btn-danger {
  color: $color_difficulty3 !important;
}

#difficulty .btn-danger.active {
  color: $white !important;
  background-color: $color_difficulty3;
  border-color: $color_difficulty3;
}

#difficultyGroup {
  padding-top: 0 !important;
}

.MathJax {
  font-size: 10px !important;
}
