#welcome {
  text-align: center;
  .panel {
    box-shadow: none;
  }
  #slogan {
    display: inline-block;

    h2 {
      margin: 0;
      padding: 0;
      @media (max-width: 414px) {
        font-size: 16px;
        font-weight: bold;
      }
      @media (min-width: 415px) {
        font-size: 35px;
        font-weight: bold;
      }
    }
  }

  .panel-heading {
    line-height: 1.3;
    padding-top: 0;
    padding-bottom: 20px;
    @media (max-height: 500px) {
      padding-bottom: 0;
    }
    min-height: 177px;
  }

  .panel-footer {
    border-top: 0;
    min-height: 84px;
  }
}

#tag-cloud-container {
  text-align: center;
}

#welcome-login {
  position: absolute;
  bottom: 0;
  padding-top: $padding_top_login !important;
  padding-bottom: $size_footer_height !important;
  text-align: center;
  a {
    margin-right: 14px;
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    height: 60px;
  }
  @media (max-width: 360px) {
    img {
      height: 55px;
    }

    #BackdoorLogin img, #TestingBackdoorUsername {
      margin-top: 15px;
    }
  }
  #TestingBackdoorUsername {
    padding: 12px 10px;
  }
  @media (min-width: 361px) and (max-width: 767px) {

    #BackdoorLogin img, #TestingBackdoorUsername {
      margin-left: -10px;
    }
  }
  @media screen and (max-width: 320px) {
    img {
      padding-bottom: 14px;
    }
  }
  .item {
    height: 300px;
  }

  .item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.color-dot:before {
  content: ' \25CF';
  font-size: 5vw;
  font-weight: bold;
  vertical-align: -6%;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.logo-header-chars {
  font-size: 8vw;
  font-weight: bold;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.serverInventory {
  display: inline-block;
  text-align: center;
  margin-top: $margin_top_inventory !important;
  padding: $padding_vertical_inventory $padding_horizontal_inventory !important;
  font-size: $font_size_inventory !important;
  font-weight: $font_weight_inventory !important;
}

@media (min-width: 768px) {
  #serverInventoryContainer .serverInventory:first-child {
    padding: $padding_vertical_inventory ($padding_horizontal_inventory /2) $padding_vertical_inventory $padding_horizontal_inventory !important;
  }
  #serverInventoryContainer .serverInventory:last-child {
    padding: $padding_vertical_inventory $padding_horizontal_inventory $padding_vertical_inventory ($padding_horizontal_inventory /2) !important;
  }
}

.welcome-title-no-padding {
  padding-bottom: 0 !important;
}

#pomoB {
  height: 150px;
  width: 150px;

  position: absolute;
  bottom: 9rem;
  left: 1rem;

  @media (max-width: 768px) {
    left: 3vw;
  }
  @media (min-width: 950px) {
    height: 200px;
    width: 200px;
  }

}

#pomoA .pomodoroTimer {
  margin-top: -5.5rem;
  .pomodoroClock {
    width: 60vw;
    z-index: 10000;
    max-height: 60vw;
    @media (max-height: 520px) {
      display: none;
    }
    @media (max-width: 701px) {
      @media (max-height: 850px) {
        width: 45vw;
      }
      @media (max-height: 780px) {
        width: 45vw;
      }
      @media (max-height: 710px) {
        width: 40vw;
      }
      @media (max-height: 595px) {
        width: 25vw;
      }
    }
    @media (min-width: 702px) and (max-height: 700px) {
      @media (min-width: 702px) and (max-height: 700px) {
        max-width: 30vw;
      }
      @media (min-width: 1200px) and (max-height: 700px) {
        display: none;
      }
      @media (max-height: 645px) {
        width: 10vw;
      }
    }
  }
}

.pomodoroInstructions {
  @media (max-height: 520px) {
    display: none;
  }
  @media (min-width: 702px) and (max-height: 700px) {
    @media (min-width: 1200px) and (max-height: 700px) {
      display: none;
    }
  }
}

// setting pomodoro in focus on start

.zIndexFirstPrio {
  z-index: 20;
}

.zIndexLowPrio {
  z-index: -20;
}

.bigDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.bigDiv .pomodoroTimer {
  padding-top: 5%;
}

.bigDiv .pomodoroTimer .pomodoroInstructions {
  display: none !important;
}
