//colors
$color_wild_sand_approx: rgb(245, 245, 245);
$color_fuscous_gray_approx: rgb(85, 85, 84);
#welcome {
  text-align: center;
  #slogan {
    display: inline-block;
    color: $color_thm_gray !important;
    .lmargin {
      margin-left: 24px;
    }

    h2 {
      @media screen and (max-width: 667px) {
        font-size: 20px;
      }
    }
  }
  .carousel-caption {
    color: $color_fuscous_gray_approx;
    text-shadow: -1px -1px 0 $color_wild_sand_approx, 1px -1px 0 $color_wild_sand_approx, -1px 1px 0 $color_wild_sand_approx, 1px 1px 0 $color_wild_sand_approx;
  }
  .carousel-inner > .item > img {
    width: 100%;
  }
  #login {
    a {
      margin-right: 14px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media screen and (max-width: 320px) {
      img {
        padding-bottom: 14px;
      }
    }
  }

  .panel-heading {
    padding-bottom: 0;
  }

  .panel-footer {
    border-top: 0;
    margin-top: 0px;
  }
}

.item {
  height: 300px;
}

.item img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#tag-cloud-container {
  background-color: #EEEEEE;
}

#TestingBackdoorUsername {
  background-color: #ffffff;
  padding: 12px 10px;
}

@media (max-width: 400px) {
  #login img {
    width: 62px !important;
  }

  #BackdoorLogin img, #TestingBackdoorUsername {
    margin-top: 15px;
  }
}

@media (max-width: 325px) {
  #login img {
    width: 50px !important;
  }

  #BackdoorLogin img, #TestingBackdoorUsername {
    margin-top: 0;
  }
}
