@import "../../../client/themes/theme-default";
@import "../../../client/themes/theme-contrast";
@import "../main/main.scss";

.pomodoroTimer {
  .pomodoroInstructions {
    /*have to make it important to override the bootstrap css*/
    font-size: 100%;
    padding: 0;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

  h3 {
    text-align: center;
  }

  h2 {
    margin: 0;
  }

  a:hover {
    text-decoration: none !important;
  }

  .pomArc,
  .breakArc {
    stroke-width: 8px;
    fill: none;
  }

  .progressArc {
    fill: none;
    stroke-width: 2px;
  }

  .pomodoroClock {
    max-height: 87vh;
    cursor: pointer;
  }

  .numSlider {
    margin-left: 5% !important;
    width: 71% !important;
    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
  }

  .quantity {
    margin-bottom: 10px !important;
    display: inline-block !important;
    width: 17% !important;
  }

  #input {
    text-align: center;
  }
}

.modalContent-noButtons {
  padding: 0 5%;
}

.pomodoroBackground {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

