@import "../../../client/themes/theme-default";
@import "../../../client/themes/theme-contrast";
@import "../main/main.scss";

$themes: (
        theme-default: map-merge(changing-colors-definitions(), theme-default()),
        theme-contrast: map-merge(changing-colors-definitions(), theme-contrast())
);

@each $theme, $map in $themes {
  .#{$theme} {
  $pomodoro_yellow: map-get($map, "pomodoro_yellow");
  $pomodoro_green: map-get($map, "pomodoro_green");
  $pomodoro_white: map-get($map, "pomodoro_white");
  $pomodoro_orange: map-get($map, "pomodoro_orange");
  $pomodoro_dark_orange: map-get($map, "pomodoro_dark_orange");
  $pomodoro_blue: map-get($map, "pomodoro_blue");
  $pomodoro_orange_link: map-get($map, "pomodoro_orange_link");
  $pomodoro_stroke_orange: map-get($map, "pomodoro_stroke_orange");
  $pomodoro_stroke_blue: map-get($map, "pomodoro_stroke_blue");

    #pomodoroTimer {
      h2,
      h3,
      h4 {
        /*This font seemed a good fit to the simple geometric style I was going for.*/
        font-family: 'Righteous', cursive !important;
      }

      #instructions {
        /*have to make it important to override the bootstrap css*/
        color: $pomodoro_white !important;
      }

      h3 {
        color: $pomodoro_orange !important;
        text-align: center;
      }

      a:visited {
        color: $pomodoro_orange_link !important;
      }

      a:hover {
        text-decoration: none !important;
      }

      #face {
        fill: $pomodoro_green;
      }

      .green {
        color: $pomodoro_green;
      }

      #hour,
      #min,
      #sec,
      #handCircle {
        fill: $pomodoro_yellow;
      }

      #pomArc {
        stroke: $pomodoro_stroke_orange;
      }

      #breakArc {
        stroke: $pomodoro_stroke_blue;
      }

      #pomArc,
      #breakArc {
        stroke-width: 8px;
        fill: none;
      }

      #progressArc {
        fill: none;
        stroke: $pomodoro_dark_orange;
        stroke-width: 2px;
      }

      b {
        color: $pomodoro_dark_orange;
      }

      #clock {
        max-height: 87vh;
        cursor: pointer;
        /*width:100vw;*/
      }

      label {
        width: 100vw;
        color: $pomodoro_blue;
      }

      .numSlider {
        margin-left: 5% !important;
        width: 71% !important;
        position: relative !important;
        display: inline-block !important;
        vertical-align: middle !important;
      }

      .quantity {
        margin-bottom: 10px !important;
        display: inline-block !important;
        width: 17% !important;
      }

      #input {
        text-align: center;
      }
    }
  }

  /* latin-ext */
  @font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: local('Righteous'), local('Righteous-Regular'), src="/fonts/latin-exFont.woff2" format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    src: local('Righteous'), local('Righteous-Regular'), src="/fonts/latinFont.woff2" format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}
