@import "../../../client/themes/theme-default";
@import "../../../client/themes/theme-contrast";
@import "../main/main.scss";

.pomodoroTimer {
  .pomArc,
  .breakArc {
    stroke-width: 8px;
    fill: none;
  }

  .progressArc {
    fill: none;
    stroke-width: 2px;
  }

  .pomodoroClock {
    max-height: 87vh;
    cursor: pointer;
    background-image: url("/img/pomodoro/pomodoro.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
  }

  .numSlider {
    margin-left: 5% !important;
    width: 71% !important;
    position: relative !important;
    display: inline-block !important;
    vertical-align: middle !important;
  }

  .quantity {
    margin-bottom: 10px !important;
    display: inline-block !important;
    width: 17% !important;
  }

  #input {
    text-align: center;
  }

  .pomodoroInstructions {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px;
  }
}

.modalContent-noButtons {
  padding: 0 5%;
}

.pomodoroBackground {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/img/pomodoro.png');
}

.pomodoroHighlight {
  font-weight: bold;
}
