#contentEditor {
  resize: none;
  width: 100%;
  height: 500px;
  border: 2px solid !important;
  line-height: 28px;
  font-size: 16px !important;
  background-attachment: local;
  font-family: $font_family_markdeep_editor_content !important;
}

#contentEditor.card {
  padding: $padding_card_content_vertical $padding_card_content_horizontal !important;
}

