#searchResults {
  display: block;
  position: absolute;
  float: left;
  @media(max-width: 767px) {
    left: 0 !important;
    width: 100% !important;
  }
  @media(min-width: 768px) {
    width: 600px;
  }
  @media(min-width: 1200px) {
    width: 800px;
  }
  padding-top: 0;
  padding-bottom: 0;
  background-color: hsla(100, 100%, 100%, 0.8) !important;

  .open-search-result {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#searchResultsContainer {
  z-index: 1500 !important;
}


#searchResults .search-result-item {
  border-bottom: solid $size_search_results_separator !important;
  padding: 0 !important;
  margin: 0 !important;
}

#searchResults .search-result-item:last-child {
  border-bottom: 0 !important;
}

.search-subject {
  font-size: $font-size_search_results_subject !important;
  font-weight: $font-weight_search_results_subject;
  padding: $padding_search_items !important;
  margin: 0;
  line-height: normal !important;
}

.search-content {
  font-size: $font-size_search_results_content !important;
  font-weight: $font-weight_search_results_content !important;
  padding: $padding_search_items !important;
  margin: 0;
}

.search-result-info {
  padding: $padding_search_items !important;
  margin: 0 !important;
}


#searchResults .search-result-divider:not(:last-child) {
  display: block;
  width: 100%;
  height: $height_search_result_divider !important;
}