.admin_cards_table {
  background-color: #f9f9f9;
  padding-top: 20px;
  border-radius: 3px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  .clearfix {
    border-bottom: 1px solid #ddd;
    .reactive-table-options {
      float: left !important;
      .reactive-table-filter {
        float: left !important;
        margin-bottom: 20px;
      }
    }
  }
  table {
    border-bottom: 1px solid #ddd;
  }
  .reactive-table-navigation {
    .page-number {
      margin-right: 20px;
      label:last-child {
        margin-right: 21px;
      }
    }
  }
}
