.deleteCourseIteration, .editCourseIteration {
  cursor: pointer;
}

.manageCourseIteration {
  @media (max-width: 767px) {
    padding-left: 0;
  }
}

.form-check-label {
  position: relative;
  top: 1pt;
  left: 2pt;
  color: #5f5f5f;
}
