@import "changing-colors-definitions";

@function theme-default() {
  //global sass colors
  $thm_dark_blue: #003BD1;
  $thm_blue: #40ffed;
  $thm_orange: #F5AA01;
  $thm_red: #9C132D;
  $thm_gray: #4A5C66;
  $thm_green: #80BA24;
  $athens_gray_approx: rgb(236, 240, 241);
  $white: white;
  $bilbao_approx: rgb(50, 129, 20);
  $mercury_approx: rgb(223, 229, 230);
  $la_palma_approx: rgb(61, 156, 25);
  $wild_sand_approx: rgb(245, 245, 245);
  $slate_gray_approx: rgb(74, 92, 102);
  $alto_approx: rgb(221, 221, 221);
  $storm_dust_approx: rgb(102, 102, 102);
  $mountain_mist_approx: rgb(153, 153, 153);
  $orange_pool: $thm_orange;
  $btn_inactive: #9e9c9c;
  $item_separator: $thm_gray;
  $footer_hover: rgb(215, 215, 215);
  $hyperlink: $thm_dark_blue;
  $primary: $thm_gray;
  $accent: $thm_green;
  $primary_text: #212121;
  $secondary_text: $white;
  $divider: #BDBDBD;
  $accent_300: #f0efef;
  $background: yellow;
  @return (
    //global colors
          "thm_dark_blue":$thm_dark_blue,
          "thm_blue":$thm_blue,
          "thm_orange":$thm_orange,
          "thm_red":$thm_red,
          "thm_gray":$thm_gray,
          "thm_green":$thm_green,
          "athens_gray_approx":$athens-gray-approx,
          "white":$white,
          "bilbao_approx":$bilbao-approx,
          "mercury_approx":$mercury-approx,
          "la_palma_approx":$la-palma-approx,
          "wild_sand_approx":$wild-sand-approx,
          "slate_gray_approx":$slate-gray-approx,
          "$alto_approx":$alto_approx,
          "$storm_dust_approx":$storm_dust_approx,
          "$mountain_mist_approx":$mountain_mist_approx,
          "primary": $primary,
          "accent": $accent,
          "primary_text": $primary_text,
          "secondary_text": $secondary_text,
          "divider": $divider,
          "accent_300": $accent_300,
          "background": $background,
          "hyperlink": $hyperlink,
    //global button and label colors
          "demo_background": $thm_green,
          "demo_text": $white,
          "free_background": $thm_dark_blue,
          "free_text": $white,
          "edu_background": $thm_green,
          "edu_text": $white,
          "pro_background": $thm_orange,
          "pro_text": $white,
          "private_background": $thm_red,
          "private_text": $white,
          "danger_background": $thm_orange,
          "danger_text": $white,
          "info_background": $thm_dark_blue,
          "info_text": $white,
          "success_background": $thm_green,
          "success_text": $white,
          "warning_background": $thm_red,
          "warning_text": $white,
          "disabled_background": $btn_inactive,
          "disabled_text": $mercury_approx,
          "shuffled_background": black,
          "shuffled_text": $white,
          "bonus_background": $thm_red,
          "bonus_text": $white,
    //navbar
          "navbar_background": $thm_gray,
          "navbar_text": white,
          "navbar_text_hover": white,
          "navbar_alldecks_background": $thm_gray,
          "navbar_alldecks_background_hover": $thm_red,
          "navbar_alldecks_background_active": $thm_red,
          "navbar_alldecks_text": white,
          "navbar_alldecks_text_hover": white,
          "navbar_alldecks_text_active": white,
          "navbar_alldecks_border": $thm_orange,
          "navbar_alldecks_border_hover": $thm_red,
          "navbar_alldecks_border_active": $thm_red,
          "navbar_create_background": $thm_gray,
          "navbar_create_background_hover": lighten($thm_gray, 20%),
          "navbar_create_background_active": $thm_green,
          "navbar_create_text": white,
          "navbar_create_text_hover": white,
          "navbar_create_text_active": white,
          "navbar_course_background": $thm_gray,
          "navbar_course_background_hover": lighten($thm_gray, 20%),
          "navbar_course_background_active": $thm_green,
          "navbar_course_text": white,
          "navbar_course_text_hover": white,
          "navbar_course_text_active": white,
          "navbar_learn_background": $thm_gray,
          "navbar_learn_background_hover": lighten($thm_gray, 20%),
          "navbar_learn_background_active": $thm_green,
          "navbar_learn_text": white,
          "navbar_learn_text_hover": white,
          "navbar_learn_text_active": white,
          "navbar_pool_background": $thm_gray,
          "navbar_pool_background_hover": lighten($thm_gray, 20%),
          "navbar_pool_background_active": $thm_green,
          "navbar_pool_text": white,
          "navbar_pool_text_hover": white,
          "navbar_pool_text_active": white,
          "navbar_search_background": $thm_gray,
          "navbar_search_text": white,
          "navbar_search_placeholder": $thm_orange,
          "navbar_search_icon": white,
          "navbar_help_background": $thm_gray,
          "navbar_help_background_hover": lighten($thm_gray, 20%),
          "navbar_help_background_active": $thm_green,
          "navbar_help_text": white,
          "navbar_help_text_hover": white,
          "navbar_help_text_active": white,
          "navbar_backend_background": $thm_gray,
          "navbar_backend_background_hover": lighten($thm_gray, 20%),
          "navbar_backend_text": white,
          "navbar_backend_text_hover": white,
          "navbar_notifications_background": $thm_gray,
          "navbar_notifications_background_hover": lighten($thm_gray, 20%),
          "navbar_notifications_text": white,
          "navbar_notifications_text_hover": white,
          "navbar_profile_background": $thm_gray,
          "navbar_profile_background_hover": lighten($thm_gray, 20%),
          "navbar_profile_background_active": $thm_green,
          "navbar_profile_text": white,
          "navbar_profile_text_hover": white,
          "navbar_profile_text_active": white,
          "navbar_profile_dropdown_background": $thm_gray,
          "navbar_profile_dropdown_background_opacity": 0.9,
          "navbar_profile_dropdown_background_hover": $thm_green,
          "navbar_profile_dropdown_background_active": $thm_green,
          "navbar_profile_dropdown_text": white,
          "navbar_profile_dropdown_text_hover": white,
          "navbar_profile_dropdown_text_active": white,
          "navbar_logout_background": $thm_gray,
          "navbar_logout_background_hover": $thm_orange,
          "navbar_logout_text": white,
          "navbar_logout_text_hover": white,
    //welcome page colors
          "welcome_page_login_label": white,
          "welcome_page_login_label_shadow": $thm_gray,
          "footer_background": $thm_gray,
          "footer_info_navigation_text": white,
          "footer_info_navigation_text_hover": white,
          "footer_info_navigation_text_active": white,
          "footer_info_navigation_background": $thm_gray,
          "footer_info_navigation_background_hover": $thm_green,
          "footer_info_navigation_background_active": $thm_green,
          "footer_info_navigation_border": white,
          "footer_icon": white,
          "footer_icon_hover": $thm_green,
          "footer_globe_dropdown_text": $thm_gray,
          "footer_globe_dropdown_background": white,
          "footer_globe_dropdown_text_hover": white,
          "footer_globe_dropdown_background_hover": $thm_green,
          "footer_websocket_connected": white,
          "footer_websocket_connecting": $thm_orange,
          "footer_websocket_disconnected": $thm_red,
          "placeholder": $thm_orange,
          "inventory_background": $thm_gray,
          "inventory_text": $thm_orange,
    //info page colors
          "info_navigation_text": white,
          "info_navigation_text_active": $thm_gray,
          "info_navigation_text_hover": $thm_gray,
          "info_navigation_background": $thm_gray,
          "info_navigation_background_active": LightGoldenRodYellow,
          "info_navigation_background_hover": LightGoldenRodYellow,
          "home_button_icon": white,
          "home_button_icon_hover": $thm_gray,
          "info_content_header_text": white,
          "info_content_header_background": $thm_green,
          "info_content_body_text": $thm_gray,
          "info_content_body_background": LightGoldenRodYellow,
    //editor navigation colors
          "item_selection_border": $item_separator,
    //item lists colors
          "filter_navigation_icon": $thm_red,
          "item_separator_border_bottom": $thm_gray,
          "infinite_scroll_background": $thm_gray,
          "infinite_scroll_icon": $thm_orange,
          "infinite_scroll_text": white,
          "item_background": $thm_gray,
          "item_icon": white,
          "item_author_text": black,
          "item_description_background": LightGoldenRodYellow,
          "item_description_text": $thm_gray,
          "item_text": white,
          "item_content_link": white,
          "no_results_background": white,
          "no_results_text": $thm_gray,
    //difficulty colors
          "button_difficulty0_note": $thm_orange,
          "button_difficulty1": #5cb85c,
          "button_difficulty2": #5bc0de,
          "button_difficulty3": #d9534f,
          "button_difficulty_inactive": $wild_sand_approx,
          "background_difficulty0_note": ivory,
          "background_difficulty0": LightGoldenRodYellow,
          "background_difficulty1": honeydew,
          "background_difficulty2": lightcyan,
          "background_difficulty3": mistyrose,
          "background_difficulty0_lines_note": #F8E1AE,
          "background_difficulty0_lines": PaleGoldenRod,
          "background_difficulty1_lines": rgba(92, 184, 92, 0.3),
          "background_difficulty2_lines": rgba(91, 192, 222, 0.3),
          "background_difficulty3_lines": rgba(217, 83, 79, 0.3),
          "background_white": $white,
          "background_white_lines": $thm_gray,
          "background_post_it": lightyellow,
          "background_post_it_lines": $thm_orange,
          "background_pink": pink,
          "background_pink_lines": $thm_red,
    //card list
          "card_list_number_background": $thm_green,
          "card_list_number_text": white,
    //card colors
          "background_lecture": LightGoldenRodYellow,
          "background_hint": WhiteSmoke,
          "background_hint_alternative": LightPink,
          "lecture_presentation_header_lines": $thm_orange,
          "hint_presentation_header_lines": $thm_gray,
          "hint_alternative_presentation_header_lines": $thm_red,
          "hint_text": $thm_gray,
          "hint_text_alternative": $thm_gray,
          "hint_link": $thm_orange,
          "hint_link_alternative": $hyperlink,
          "hint_placeholder": $thm_green,
          "hint_placeholder_alternative": $thm_orange,
          "hint_header_border": $thm_orange,
          "hint_header_border_alternative": $thm_orange,
          "navigation_arrows": $thm_gray,
          "card_header_card_number": $thm_gray,
          "card_header_first_row": $thm_gray,
          "card_header_second_row": $thm_gray,
          "card_header_subject": $thm_gray,
          "card_header_subject_placeholder": $thm_orange,
    //cardset colors
          "cardset_markdeep_background": LightGoldenRodYellow,
          "cardset_markdeep_header_border": $thm_orange,
          "cardset_markdeep_text": $thm_gray,
          "cardset_markdeep_link": $thm_orange,
          "cardset_markdeep_placeholder": $thm_green,
          "cardset_footer_navigation_background": $thm_gray,
          "cardset_footer_navigation_presentation_background": $thm_dark_blue,
          "cardset_footer_navigation_presentation_text": white,
          "cardset_footer_navigation_presentation_background_hover": $thm_dark_blue,
          "cardset_footer_navigation_presentation_text_hover": white,
          "cardset_footer_navigation_learn_background": $thm_green,
          "cardset_footer_navigation_learn_text": white,
          "cardset_footer_navigation_learn_background_hover": $thm_green,
          "cardset_footer_navigation_learn_text_hover": white,
          "cardset_footer_navigation_learn_list_leitner_background": none,
          "cardset_footer_navigation_learn_list_leitner_text": black,
          "cardset_footer_navigation_learn_list_leitner_background_hover": none,
          "cardset_footer_navigation_learn_list_leitner_text_hover": black,
          "cardset_footer_navigation_learn_list_wozniak_background": none,
          "cardset_footer_navigation_learn_list_wozniak_text": black,
          "cardset_footer_navigation_learn_list_wozniak_background_hover": none,
          "cardset_footer_navigation_learn_list_wozniak_text_hover": black,
          "cardset_footer_navigation_learn_list_choose_background": none,
          "cardset_footer_navigation_learn_list_choose_text": black,
          "cardset_footer_navigation_learn_list_choose_background_hover": none,
          "cardset_footer_navigation_learn_list_choose_text_hover": black,
          "cardset_footer_navigation_learn_list_progress_background": none,
          "cardset_footer_navigation_learn_list_progress_text": black,
          "cardset_footer_navigation_learn_list_progress_background_hover": none,
          "cardset_footer_navigation_learn_list_progress_text_hover": black,
          "cardset_footer_navigation_new_card_background": $thm_green,
          "cardset_footer_navigation_new_card_text": white,
          "cardset_footer_navigation_new_card_background_hover": $thm_green,
          "cardset_footer_navigation_new_card_text_hover": white,
          "cardset_footer_navigation_import_cards_background": none,
          "cardset_footer_navigation_import_cards_text": black,
          "cardset_footer_navigation_import_cards_background_hover": none,
          "cardset_footer_navigation_import_cards_text_hover": black,
          "cardset_footer_navigation_edit_shuffle_background": none,
          "cardset_footer_navigation_edit_shuffle_text": black,
          "cardset_footer_navigation_edit_shuffle_background_hover": none,
          "cardset_footer_navigation_edit_shuffle_text_hover": black,
          "cardset_footer_navigation_edit_cardset_background": none,
          "cardset_footer_navigation_edit_cardset_text": black,
          "cardset_footer_navigation_edit_cardset_background_hover": none,
          "cardset_footer_navigation_edit_cardset_text_hover": black,
          "cardset_footer_navigation_select_license_background": none,
          "cardset_footer_navigation_select_license_text": black,
          "cardset_footer_navigation_select_license_background_hover": none,
          "cardset_footer_navigation_select_license_text_hover": black,
          "cardset_footer_navigation_publish_cardset_background": none,
          "cardset_footer_navigation_publish_cardset_text": black,
          "cardset_footer_navigation_publish_cardset_background_hover": none,
          "cardset_footer_navigation_publish_cardset_text_hover": black,
          "cardset_footer_navigation_manage_cardset_background": none,
          "cardset_footer_navigation_manage_cardset_text": black,
          "cardset_footer_navigation_manage_cardset_background_hover": none,
          "cardset_footer_navigation_manage_cardset_text_hover": black,
          "cardset_footer_navigation_manage_list_manage_editors_background": none,
          "cardset_footer_navigation_manage_list_manage_editors_text": black,
          "cardset_footer_navigation_manage_list_manage_editors_background_hover": none,
          "cardset_footer_navigation_manage_list_manage_editors_text_hover": black,
          "cardset_footer_navigation_manage_list_reset_leitner_background": none,
          "cardset_footer_navigation_manage_list_reset_leitner_text": black,
          "cardset_footer_navigation_manage_list_reset_leitner_background_hover": none,
          "cardset_footer_navigation_manage_list_reset_leitner_text_hover": black,
          "cardset_footer_navigation_manage_list_reset_wozniak_background": none,
          "cardset_footer_navigation_manage_list_reset_wozniak_text": black,
          "cardset_footer_navigation_manage_list_reset_wozniak_background_hover": none,
          "cardset_footer_navigation_manage_list_reset_wozniak_text_hover": black,
          "cardset_footer_navigation_manage_list_start_learning_background": $thm_green,
          "cardset_footer_navigation_manage_list_start_learning_text": white,
          "cardset_footer_navigation_manage_list_start_learning_background_hover": $thm_green,
          "cardset_footer_navigation_manage_list_start_learning_text_hover": white,
          "cardset_footer_navigation_manage_list_stop_learning_background": $thm_orange,
          "cardset_footer_navigation_manage_list_stop_learning_text": white,
          "cardset_footer_navigation_manage_list_stop_learning_background_hover": $thm_orange,
          "cardset_footer_navigation_manage_list_stop_learning_text_hover": white,
          "cardset_footer_navigation_manage_list_show_stats_background": none,
          "cardset_footer_navigation_manage_list_show_stats_text": black,
          "cardset_footer_navigation_manage_list_show_stats_background_hover": none,
          "cardset_footer_navigation_manage_list_show_stats_text_hover": black,
          "cardset_footer_navigation_manage_list_report_background": none,
          "cardset_footer_navigation_manage_list_report_text": black,
          "cardset_footer_navigation_manage_list_report_background_hover": none,
          "cardset_footer_navigation_manage_list_report_text_hover": black,
          "cardset_footer_navigation_manage_list_leave_learn_phase_background": none,
          "cardset_footer_navigation_manage_list_leave_learn_phase_text": black,
          "cardset_footer_navigation_manage_list_leave_learn_phase_background_hover": none,
          "cardset_footer_navigation_manage_list_leave_learn_phase_text_hover": black,
          "cardset_footer_navigation_manage_list_leave_cardset_background": none,
          "cardset_footer_navigation_manage_list_leave_cardset_text": black,
          "cardset_footer_navigation_manage_list_leave_cardset_background_hover": none,
          "cardset_footer_navigation_manage_list_leave_cardset_text_hover": black,
          "cardset_footer_navigation_manage_list_leave_editors_background": none,
          "cardset_footer_navigation_manage_list_leave_editors_text": black,
          "cardset_footer_navigation_manage_list_leave_editors_background_hover": none,
          "cardset_footer_navigation_manage_list_leave_editors_text_hover": black,
          "cardset_footer_navigation_export_cards_background": none,
          "cardset_footer_navigation_export_cards_text": black,
          "cardset_footer_navigation_export_cards_background_hover": none,
          "cardset_footer_navigation_export_cards_text_hover": black,
          "cardset_footer_navigation_delete_all_cards_background": $thm_orange,
          "cardset_footer_navigation_delete_all_cards_text": white,
          "cardset_footer_navigation_delete_all_cards_background_hover": $thm_orange,
          "cardset_footer_navigation_delete_all_cards_text_hover": white,
    //markdeep colors
          "markdeep_inline_code_background": yellow,
          "markdeep_inline_code_text": black,
          "markdeep_blockquote_background": none,
          "markdeep_blockquote_text": $thm_gray,
          "markdeep_blockquote_author": $thm_gray,
          "markdeep_blockquote_quotes": $thm_orange,
    //markdeep editor colors
          "markdeep_help_text": $white,
          "markdeep_help_background": $thm_orange,
          "markdeep_help_border": $thm_orange,
    //notification colors
          "notification_text_smartphones": white,
    //search colors
          "search_results_subject_background": $thm_green,
          "search_results_subject_text": white,
          "search_results_content_background": LightGoldenRodYellow,
          "search_results_content_text": $thm_gray,
          "search_results_author_background": $thm_gray,
          "search_results_author_text": white,
          "search_results_separator": white,
          "search_divide:": $thm_gray,
    //form group colors
          "form_group_label": black,
    //cardset form colors
          "cardset_form_list_background": $athens_gray_approx,
          "cardset_form_list_text": black,
          "cardset_form_border": black,
          "cardset_form_list_background_hover": $btn_inactive,
          "cardset_form_list_text_hover": white,
          "cardset_form_list_background_active": $athens_gray_approx,
          "cardset_form_list_text_active": black,
    //cookie consent colors
          "cookie_consent_link": $hyperlink,
    //under development modal colors
          "under_development_modal_text": white,
          "under_development_modal_background": $thm_orange,
    //presentation colors
          "presentation_clock_circle": none,
          "presentation_clock_background": none,
          "presentation_clock_center_circle": $thm_red,
          "presentation_clock_hour_marks": $thm_gray,
          "presentation_clock_hour_arm": $thm_gray,
          "presentation_clock_minute_arm": $thm_gray,
          "presentation_clock_second_arm": $thm_red
  );
}
