@function theme-contrast() {
  @return (
          primary-color: #212121,
          accent: #616161,
          primary-text: #000000,
          secondary-text: #373737,
          divider-color: #BDBDBD,
          accent_300: #616161

  );
}