@function theme-default() {
  @return (
          primary-color: #009688,
          accent: #607D8B,
          primary-text: #212121,
          secondary-text: #757575,
          divider-color: #BDBDBD,
          accent_300: #90A4AE
  );
}