@function theme-bluestar() {
  @return (
          primary-color: #2196F3,
          accent: #FFC107,
          primary-text: #212121,
          secondary-text: #757575,
          divider-color: #BDBDBD,
          accent_300: #FFD54F
  );
}