@function theme-lemonchill() {
  @return (
          primary-color: #607D8B,
          accent: #CDDC39,
          primary-text: #212121,
          secondary-text: #757575,
          divider-color: #BDBDBD,
          accent_300: #DCE775
  );
}