//colors
$color_storm_dust_approx: rgb(102, 102, 102);

//fonts
$font_0: Georgia;
$font_1: serif;

.learn-box {
  width: 100%;
  margin-top: 10px;
}

.back-button {
  width: 100%;
  margin-top: 10px;
}

#subject1 {
  margin-top: 0;
}

#cardsetName {
  margin: 0;
}

#cardsetDesc {
  font-family: $font_0;
  font-style: italic;
}

#cardsetCreated {
  padding-left: 0;
}

#cardsetWrap {
  font-family: $font_0;
}

.learn-cardHelptext {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: $color_storm_dust_approx;
  font-style: italic;
  font-family: $font_0, $font_1;
}

.carousel-inner {
  border-radius: 4px;
  min-height: 278px;
}

.clicktoflip {
  color: $color_storm_dust_approx;
  position: absolute;
  right: 10px;
  top: 13px;
  font-style: italic;
}

#cardCarousel .carousel-indicators {
  bottom: 0;
}

img.cardside {
  position: absolute;
  right: 88px;
  top: 13px;
}

#boxPictureModal .modal-header {
  min-height: 50px;
}

#setdetails-boxPictureModal-body img {
  max-width: 100%;
  width: auto;
  margin: auto;
  display: block;
}
