.learn-box {
  width: 100%;
  margin-top: 10px;
}

.back-button {
  width: 100%;
  margin-top: 10px;
}

#subject1 {
  margin-top: 0;
}

#cardsetName {
  margin: 0;
}

#cardsetDesc {
  font-style: italic;
}

#cardsetCreated {
  padding-left: 0;
}

.learn-cardHelptext {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.memoRate button {
  margin: 5px 0;
}

#memoRate1 {
  border-right: 4px solid;
}

#answerOptions {
  position: fixed;
  height: 130px;
  top: 0;
  z-index: 15;
}
