#footer, #contact-nav {
  z-index: 1002 !important;
  height: $size_navbar_height !important;
  .navbar-header {
    height: $size_navbar_height !important;
    .navbar-toggle {
      position: absolute;
      float: right;
      margin: 0;
      top: 2px;
      right: 5px;
    }
  }
  .navbar-justified, li, a {
    margin: 0 !important;
    padding: 0 !important;
  }
  .flex-content {
    height: $size_navbar_height !important;
  }
  @media(max-width: 767px) {
    top: 0 !important;
    .flex-content {
      height: $size_navbar_height !important;
      justify-content: left !important;
      padding: 10px !important;
    }
    .navbar-collapse {
      margin-top: -1px;
      .flex-content {
        height: $size_navbar_height + 10 !important;
      }
    }
  }
}

#contact-nav-collapse {
  padding: 0 !important;
}

.footer.icon-container {
  position: absolute;
  left: 15px;
  bottom: $size_navbar_height * 0.5;
  font-size: 32px;
}

#contact-nav, #footer {
  height: $size_navbar_height !important;
  .fa-home {
    font-size: 15px;
  }
  li {
    height: $size_navbar_height !important;
    a {
      height: $size_navbar_height !important;
    }
  }
  .footerNavigationContent {
    transform: translateY(25%);
    @media(max-width: 767px) {
      text-align: left;
    }
  }
}
