.toggle-thm-collapse, .toggleImpressumNavigation {
  touch-action: none !important;
  cursor: pointer;
}

@media (max-width: 767px) {
  .thm-header {
    padding-left: 15px;
    padding-right: 15px;
    .flex-content {
      height: $size_navbar_height !important;
    }

    .navbar-toggle {
      width: 30px !important;
      margin: 0 !important;
    }
  }

  .toggleImpressumNavigation, .toggleServerStatistics {
    margin: 0 !important;
    font-size: 18px;
  }

  #thm-top-navigation a {
    padding: 10px !important;
  }

  .navbar-header {
    padding-left: 15px;
    padding-right: 15px;

    .list-inline {
      margin: 0 !important;
      height: $size_navbar_height !important;
      li {
        display: inline-block !important;
        height: $size_navbar_height !important;
        padding-right: 7px;
        padding-left: 7px;
      }
      @media (max-width: 320px) {
        .searchDropdown {
          display: none !important;
        }
      }
    }
  }
}

.navbar-fixed-top .navbar-collapse, #contact-nav .navbar-collapse {
  max-height: 768px - size_navbar_height !important;
}

@media (max-height: 320px) {
  .navbar-fixed-top .navbar-collapse, #contact-nav .navbar-collapse {
    max-height: 320px - size_navbar_height !important;
  }
}

@media (min-height: 321px) and (max-height: 375px) {
  .navbar-fixed-top .navbar-collapse, #contact-nav .navbar-collapse {
    max-height: 375px - size_navbar_height !important;
  }
}

@media (min-height: 376px) and (max-height: 414px) {
  .navbar-fixed-top .navbar-collapse, #contact-nav .navbar-collapse {
    max-height: 414px - size_navbar_height !important;
  }
}

#profile-drop {
  overflow: hidden;
  text-align: left;
  min-width: auto;
  @media(min-width: 768px) {
    position: absolute;
  }
  padding-top: 0;
  padding-bottom: 0;

  a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
  }

  td {
    padding-left: 0;
    padding-right: 0;
  }

  td .fa, .glyphicon {
    margin-left: 5px;
  }
}

.searchItem {
  padding: 0 !important;
}

.thm-header .navbar-toggle {
  margin-right: 0;
}


.navbar-fixed-top .navbar-text {
  margin-top: 14px !important;
  margin-bottom: 0;
}


#main-nav {
  background: unset !important;
}

.navbar-fixed-top {
  min-height: 36px !important;
}

#thm-top-navigation a {
  padding: 8px 7px !important;
}

.dropup {
  margin-bottom: 0;
}

.dropdown, .dropup, .navbar-nav > li {
  .dropdown-menu {
    max-height: 800px;
    margin-left: 7px;
    @media(max-height: 768px) {
      max-height: 575px;
    }
    @media(max-width: 767px) {
      max-height: 225px;
    }
    overflow-y: scroll;
  }

  button {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  a {
    white-space: nowrap;
  }
}

@media(min-width: 768px) {
  .thm-header {
    .navbar-collapse, .navbar-collapse.collapse {
      overflow: visible;
    }

    .navbar-toggle {
      display: none;
    }
  }
  .panel-body button {
    margin: 10px 0 !important;
    width: auto;
  }
}


@media(min-width: 768px) and (max-width: 900px) {
  .thm-header {
    padding: 0;

    .container-fluid {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


.navbar-default {
  .navbar-brand {
    padding: 10px 19px;

    > img {
      height: 22px;
      margin-top: 5px;
    }
  }

  .navbar-nav {
    .notifications {
      min-width: 420px;

      .notification-footer,
      .notification-heading {
        padding: 2px 10px;
        color: black;

        .menu-title {
          font-size: 1.5rem;
          display: inline-block;
        }
      }

      .divider {
        margin: 5px 0;
      }

      .notifications-wrapper {
        overflow: auto;
        max-height: 250px;

        .notification-item {
          padding: 10px;
          margin: 5px;
          border-radius: 4px;

          .item-title {
            font-size: 1.3rem;
          }
        }
      }

      a.content {
        text-decoration: none;
      }
    }

    .glyphicon {
      margin-right: 5px;
    }
  }

  @media(min-width: 768px) {
    #navbar-all-decks {
      border-left: $size_navbar_alldecks_border solid !important;
    }
  }
}


.searchDropdown {
  margin: 0 !important;
  padding: 0 !important;
  height: $size_navbar_height !important;
  width: 140px !important;
  .input-search {
    width: 100% !important;
    line-height: 30pt !important;
    padding-right:  $clear_search_button_width  + 7px !important;
    height: $size_navbar_height - $padding_bottom_search_input !important;
  }
  .clearSearch {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: $clear_search_button_width !important;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000 !important;
    @media(min-width: 768px) {
      margin-top: -$padding_bottom_search_input !important;
    }
    @media(max-width: 767px) {
      margin-right: 5px !important;
    }
  }
  @media(max-width: 767px) {
    position: relative;
    float: left;
    width: 90px !important;
    margin-right: 10px !important;
  }
  @media(min-width: 768px) and (max-width: 900px) {
    width: 100px !important;
  }
}
